<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LiteDbAppender_File" type="log4net.Appender.LiteDB.LiteAppender,log4net.Appender.LiteDB">
    <file value="log4net.db" />
    <fileMaxSize value="100" />
    <collectionName value="logs" />
    <threshold value="WARN" />
    <parameter>
      <name value="timestamp" />
      <ensureIndex value="True" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <name value="level" />
      <ensureIndex value="True" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
    <parameter>
      <name value="thread" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t" />
      </layout>
    </parameter>
    <parameter>
      <name value="logger" />
      <ensureIndex value="True" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c" />
      </layout>
    </parameter>
    <parameter>
      <name value="message" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <name value="exception" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  <appender name="LiteDbAppender_Stream" type="log4net.Appender.LiteDB.LiteAppender, log4net.Appender.LiteDB">
    <file value="|Stream|"/>
    <FileMaxSize value="50" />
    <collectionName value="logs"/>
    <parameter>
      <name value="timestamp"/>
      <ensureIndex value="True" />
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <name value="level"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p"/>
      </layout>
    </parameter>
    <parameter>
      <name value="thread"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t"/>
      </layout>
    </parameter>
    <parameter>
      <name value="logger"/>
      <ensureIndex value="True" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c"/>
      </layout>
    </parameter>
    <parameter>
      <name value="message"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m"/>
      </layout>
    </parameter>
    <parameter>
      <name value="exception" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  <appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline %exception%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="LiteDbAppender_File" />
    <appender-ref ref="LiteDbAppender_Stream" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>